@tailwind base;
@tailwind components;
@tailwind utilities;






/* 
https://i.ibb.co/BgPqH6B/Rectangle-2.png
https://i.ibb.co/ZXKncw0/Rectangle-2-1.png
https://i.ibb.co/C02KpZk/Rectangle-2-2.png
https://i.ibb.co/zbBt152/Rectangle-2-3.png
https://i.ibb.co/GHDPFfg/Rectangle-2-4.png
https://i.ibb.co/Yk3xvQV/Rectangle-2-5.png
https://i.ibb.co/D41tqhY/Rectangle-2-6.png
https://i.ibb.co/23W1bj7/Rectangle-3.png
https://i.ibb.co/wcnP69B/Rectangle-3-1.png */